html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --first-collor: #e5e5e5;
  --second-color: #e7e9fc;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-right: auto;
}

.header-nav-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent-web {
  color: #4d5ae5;
}

.accent-studio {
  color: #2e2f42;
}

.header-nav-list {
  display: none;
}

.header-address {
  display: none;
}

/*Mobile menu*/


.menu-open {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.menu-open-icon {
  stroke: #000000;
}
.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 40px;
 
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 32px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.menu-close-icon {
}
.mob-menu-list {
}
.mob-menu-item {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.mob-menu-link:hover {
  color: #404bbf;
}

.mob-menu-link:focus {
  color: #404bbf;
}

.mob-menu-address {
}
.menu-address-list {
}

.menu-address-item {
  margin-bottom: 40px;
}
.menu-address-tel {
  font-style: normal;
  font-size: 25px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: capitalize;
  color: #434455;
}

.menu-address-tel:hover {
  color: #4d5ae5;
}

.menu-address-tel:focus {
  color: #4d5ae5;
}

.menu-address-mailto {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
}

.menu-address-mailto:hover {
  color: #4d5ae5;
}

.menu-address-mailto:focus {
  color: #4d5ae5;
}

.menu-soc-list {
  display: flex;
  justify-content: flex-start;
  margin: 0px -15px;
}

.menu-soc-item {
  width: 40px;
  height: 40px;
  margin: 0px 15px;
}

.menu-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-soc-icon {
  fill: #f4f4fd;
}

/* Footer */
.ftr {
  padding-top: 97px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}
/*padding-top: 100px;
  padding-bottom: 100px;*/

.ftr-content {
}
/*display: flex;*/

.ftr-ctr {
  text-align: center;
  margin-bottom: 72px;
}

.ftr-logo {
  display: block;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ftr-accent-web {
  color: #4d5ae5;
}

.ftr-accent-studio {
  color: #f4f4fd;
}

.ftr-text {
  width: 268px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/*width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);*/

.ftr-soc {
  margin-bottom: 72px;
}

.ftr-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

/*margin-bottom: 24px;*/

.ftr-soc-list {
  display: flex;
  justify-content: center;
  margin: 0px -8px;
}

.ftr-soc-item {
  width: 40px;
  height: 40px;
  margin: 0px 8px;
}

.ftr-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-soc-icon {
  fill: #f4f4fd;
}

.ftr-soc-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.ftr-subscribe {
}
/*margin-left: 80px;*/

.ftr-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.ftr-subscribe-email {
}

.subscribe-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #2e2f42;
}
/* width: 264px;*/
/*border: 1px solid rgba(255, 255, 255, 0.3);
 color: rgba(255, 255, 255, 0.6);*/

.ftr-subscribe-button {
}

.ftr-button {
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-style: none;
  margin: 0 auto;
  display: block;
  margin-top: 16px;
}

.ftr-subscribe-button {
  top: 10px;
}

/* Studio */

/* Section 1 */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 428px 432px;
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mob-2x.jpg);
  }
}

/* 

background-color: #2e2f42; */

.hero-title {
  width: 310px;

  font-size: 30px;
  line-height: 1.1;
  margin: 0 auto;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 72px;
}

.hero-button {
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border-style: none;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* border: 1px solid #4D5AE5;*/

.hero-button:hover {
  color: #ffffff;
}

.hero-button:focus {
  color: #ffffff;
}

/* Section 2  */
.feature {
  padding-top: 96px;
  padding-bottom: 24px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*margin: 0px -12px;*/

.feature-item {
  width: 320px;
  margin-bottom: 72px;
}
/*margin: 0px 12px;*/

.future-ctr {
  display: none;
}

.future-icon {
}

.feature-title {
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;*/

/* Section 3 */
.doing {
  display: none;
}

/* Section 4 */

.team {
  padding-top: 96px;
  padding-bottom: 24px;
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-item {
  width: 260px;
  background-color: #ffffff;
  margin-bottom: 72px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-ctr {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin: 0px -12px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
  margin: 0px 12px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #f4f4fd;
}

.team-soc-link:is(:hover, :focus) {
  background-color: #404bbf;
}

/* Section 6 */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -36px -8px;
}

.customers-item {
  width: 190px;
  height: 88px;
  margin: 36px 8px;
}
/*width: 168px;
  height: 88px;
  margin: 0px 12px;*/
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: #8e8f99;
}

.customers-link:is(:hover, :focus) {
  border-color: #404bbf;
}

.customers-link:is(:hover, :focus) .customers-icon {
  fill: #404bbf;
}

/* Portfolio */

/* Section 5 */

.components {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* background-color: var(--first-collor);*/

.components-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.components-btn-item {
  margin-right: 24px;
}

/* padding-left: 24px;
  padding-right: 24px; */

.components-btn-button {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  height: 48px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-btn {
  width: 69px;
}

.website-btn {
  width: 116px;
}

.app-btn {
  width: 78px;
}

.design-btn {
  width: 101px;
}

.marketing-btn {
  width: 126px;
}

.components-btn-item :first-child {
  margin-right: 0;
}

.components-btn-button:hover {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.components-btn-button:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.components-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: -20px -10px;
}
.components-cards-item {
  border: 1px solid #e7e9fc;
  margin: 20px 10px;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.components-cards-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.components-cards-ctr {
  padding-left: 16px;

  padding-top: 32px;
  padding-bottom: 32px;
}

.components-cards-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.components-cards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.components-cover-wrap {
  position: relative;
  overflow: hidden;
}

.components-cover-text {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background-color: #4d5ae5;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 164px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.components-cards-item:hover .components-cover-text {
  transform: translateY(0);
}

.components-cards-item:focus .components-cover-text {
  transform: translateY(0);
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 310px;
  height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
}

.modal-close {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modal-close:is(:hover, :focus) {
  background-color: #404bbf;
}

.modal-close:is(:hover, :focus) .modal-close-icon {
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 8px;
}

.modal-form {
}

.input-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  margin-top: 8px;
  display: inline-block;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: #fcfcfc;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 36px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 19px;
  top: 0%;
  transform: translate(-50%);
  fill: #2e2f42;
}

.modal-field {
}

.modal-message {
  width: 100%;
  height: 120px;
  background-color: #fcfcfc;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-message:focus {
  border-color: #4d5ae5;
}

.input-chek {
}

.check-text {
  font-size: 8px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  margin-top: 16px;
  align-items: center;
}

/*font-size: 12px;*/

.check-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.input-chek:checked + .check-text span {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.check-icon {
}

.check-link {
  color: #4d5ae5;
  margin-left: 5px;
}

.modal-button {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  border-style: none;
  margin: 0 auto;
  display: block;
  margin-top: 24px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }



  .menu-address-tel {
    font-size: 36px;
  }

  .menu-soc-list {
    margin: 0px -28px;
  }

  .menu-soc-item {
    margin: 0px 28px;
  }

  .feature-item {
    width: 396px;
  }

  .modal {
    width: 408px;
  }

  .modal-title {
    font-size: 16px;
  }

  .check-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 761px;
  }
  .mob-menu {
    display: none;
  }

  .menu-open {
    display: none;
  }

  .header-nav-list {
    display: flex;
    margin-left: 76px;
  }

  .header-nav-list .header-nav-item + .header-nav-item {
    margin-left: 40px;
  }

  .header-nav-item {
  }
  .header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover {
    color: #404bbf;
  }

  .header-nav-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    display: block;
  }

  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    display: none;
    z-index: 1;
    margin-bottom: -24px;
  }

  .current:not(:active)::after {
    display: block;
  }

  .header-address {
    display: initial;
  }

  

  .header-address-item {
  }

  .header-address-mailto {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 122px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .header-address-mailto:hover {
    color: #404bbf;
  }

  .header-address-mailto:focus {
    color: #404bbf;
  }

  .header-address-tel {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 122px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-tel:hover {
    color: #404bbf;
  }

  .header-address-tel:focus {
    color: #404bbf;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab.jpg);
    background-size: 768px 436px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tab-2x.jpg);
    }
  }

  .hero-title {
    width: 496px;

    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  .feature-list {
    flex-wrap: wrap;
    flex-direction: inherit;
    margin: -36px -7px;
  }

  .feature-title {
    text-align: left;
  }

  .feature-item {
    width: 356px;
    margin: 36px 7px;
  }

  .doing {
    display: none;
  }
  .team {
    padding-bottom: 96px;
  }

  .team > .container {
    max-width: 582px;
  }

  .team-list {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: inherit;
    margin: -32px -12px;
  }

  .team-item {
    margin: 32px 12px;
  }

  .customers-item {
    width: 168px;
    margin: 36px 12px;
  }
  .customers-list {
    margin: -36px -12px;
  }

  .ftr-media {
    display: flex;
    justify-content: center;
  }

  .ftr-logo {
    text-align: left;
  }
  .ftr-text {
    text-align: left;
  }
  .ftr-soc {
    margin-left: 24px;
  }

  .ftr-soc-title {
    text-align: left;
  }
  .ftr-subscribe {
    margin-left: 108px;
  }

  .ftr-subscribe-text {
    text-align: left;
  }

  .ftr-subscribe-email {
    display: flex;

    height: 40px;
  }

  .subscribe-input {
    width: 264px;
  }

  .ftr-button {
    margin-left: 24px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .header-address-list {
    display: flex;
  }

  .header-address-list .header-address-item + .header-address-item {
    margin-left: -75px;
  }


  .header-address-mailto {
    font-size: 16px;
    line-height: 1.5;
  }


  .header-address-tel {
    font-size: 16px;
    line-height: 1.5;
  }


  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    background-size: 1440px 600px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-2x.jpg);
    }
  }

  .hero-title {
    width: 500px;
    margin-bottom: 48px;
  }

  .feature {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .feature-title {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .feature-text {
    font-weight: 400;
  }

  .feature-list {
    display: flex;
    margin: 0px -12px;
  }

  .feature-item {
    width: 264px;
    margin: 0px 12px;
  }

  .future-ctr {
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .doing {
    display: block;
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .doing-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .doing-list {
    display: flex;
    margin: 0px -12px;
  }

  .doing-item {
    margin: 0px 12px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    flex-wrap: nowrap;
    margin: 0px -12px;
  }

  .team-item {
    margin: 0px 12px;
  }

  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customers-list {
    flex-wrap: nowrap;
    margin: 0px -12px;
  }

  .customers-item {
    width: 168px;
    margin: 0px 12px;
  }

  .ftr {
    padding-top: 100px;
    padding-bottom: 22px;
  }

  .ftr-content {
    display: flex;
  }
  .ftr-soc {
    margin-left: 120px;
  }

  .ftr-subscribe {
    margin-left: 80px;
  }

  .subscribe-input {
  }
}
